body {
    margin: 0;
    background-color: linear-gradient(#FBFCFD, #D9DEEC, #D6DBEA);
}

.container {
    width: 90%;
    margin: auto;
}

.header-area {
    background-color: #3A5795;
    padding: 10px 0;
    font-family: tahoma;
}

.header-area .logo-area {
    width: 30%;
    float: left;
}

.header-area .login-area {
    overflow: hidden;
    width: 70%;
}

.login-area form {
    float: right;
}

.login-area label,
.login-area input {
    display: block;
}

.login-area input[type="checkbox"] {
    float: left;
    margin-left: 0;
}

.login-area label {
    color: #FFFFFF;
    font-size: 12px;
    cursor: pointer;
}

.login-area input {
    margin: 5px 0 2px;
    border: 1px solid #1D2A5B;
    padding: 2px;
}

.login-area a {
    color: #8CACC3;
    font-size: 12px;
    text-decoration: none;
}

.login-area .username-area {
    float: left;
    margin-right: 15px;
}

.login-area .password-area {
    overflow: hidden;
    float: left;
    margin-right: 15px;
}

.login-area .submit-area {
    overflow: hidden;
    float: left;
}

.username-area label:last-child {
    margin-top: 3px;
    display: inline-block;
    overflow: hidden;
    margin-left: 2px;
    color: #8CACC3;
}

.login-area a:hover {
    text-decoration: underline;
}

.submit-area input {
    background-color: #5A74A8;
    cursor: pointer;
    color: #FFFFFF;
    margin-top: 29px;
    font-size: 12px;
}


/* main area */

.mobile {
    margin-top: 30px;
    background: url('images/background.png') no-repeat;
    background-position: left bottom;
    min-height: 290px;
}

.mobile-area {
    float: left;
    width: 50%;
    margin-right: 10%;
}

.mobile-text {
    overflow: hidden;
    padding-bottom: 20px;
}

.mobile-text h4 {
    font-weight: normal;
    font-size: 14px;
    color: #23355B;
}

.mobile-text a {
    margin-top: 50px;
}

.mobile-text p,
.mobile-text h4 {
    margin: 0;
}

.mobile-text a {
    color: #000000;
    text-decoration: none;
    font-size: 12px;
    border: 1px solid #000000;
    padding: 1px 3px;
    background: linear-gradient(#FFFFFF, #E6E6E6);
    float: right;
    margin-top: 60px;
}

.mobile-img {
    float: left;
    margin-right: 20px;
    margin-left: 50px;
}

.signup-area {
    overflow: hidden;
    width: 40%;
    margin-top: 20px;
}

.signup-area form {
    margin-top: 20px;
}

.signup-area h1 {
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    margin: 0;
}

.signup-area h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

.signup-area input[type="text"],
.signup-area input[type="password"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #C1CADA;
    padding: 10px 5px;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 10px;
}

.signup-area input[type="text"]:first-child {
    width: 48%;
    float: left;
    margin-right: 4%;
}

.signup-area input[type="text"]:nth-child(2) {
    width: 48%;
    overflow: hidden;
}

h2 {
    font-weight: 1400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 3px;
}

.rad {
    margin-top: 4px;
}

.atag {
    display: block;
    text-decoration: none;
    margin-top: 3px;
}

a {
    color: #8CACC3;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

.footer-area {
    background-color: #ffffff;
    padding: 3px;
    margin: 15px;
}

@media all and (max-width: 768px) {
    .header-area .logo-area {
        float: none;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }
    .header-area .login-area {
        width: 100%;
    }
    .login-area form {
        float: none;
        width: 368px;
        margin: auto;
    }
    .mobile-area {
        float: none;
        width: 100%;
    }
    .signup-area {
        width: 100%;
    }
}

@media all and (max-width: 400px) {
    .login-area form {
        width: auto;
    }
    .login-area .username-area {
        float: none;
    }
    .login-area .password-area {
        float: none;
    }
    .login-area input[type="text"],
    .login-area input[type="password"] {
        width: 100%;
    }
}